.select-options {
  padding: 20px;
  background-color: #b4ecfa;
  height: 100%;
}

.option-group button {
  margin: 6px 2px;
  padding: 6px 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bolder;
}

.option-group button.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.createBtn {
  margin-top: 50px;
  width: 100%;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  color: #007bff;
  font-weight: bolder;
}

.btn-area {
  display: flex;
}

.btn-primary2 {
  background: #fff;
  width: 7rem;
  height: 3.5rem;
  color: #666;
  border: 2px solid black;
  /* padding: 15px 40px; */
  font-size: 1rem;
  border-radius: 160px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bolder;
  margin: 1.5rem 5px;
}
