.container {
    padding: 40px;
    max-width: 900px;
    width: 100%;
}

/* Main Screen */
.logo {
    font-size: 8rem;
    font-weight: bold;
    background:  #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin-bottom: 20px;
    animation: motion 1s linear 0s infinite alternate;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    color: #666;
    margin-bottom: 40px;
}

@keyframes motion {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}

/* Buttons */
.btn-primary {
    background: #fff;
    width: 8rem;
    height: 8rem;
    color: #666;
    border: none;
    /* padding: 15px 40px; */
    font-size: 1.6rem;
    border-radius: 160px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}

.btn-primary:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(102, 126, 234, 0.4);
    background: #90c7ff;
    color: #fff;
}

.btn-primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}